[mysqld]
# Basic server settings
user            = root
port            = 3306
bind-address    = 0.0.0.0  # Allows connections from any IP address
datadir         = /var/lib/mysql
pid-file        = /run/mysqld/mysqld.pid
socket          = /run/mysqld/mysqld.sock
log_error       = /var/log/mysql/error.log

# Security and Limit Settings
max_connections = 150
symbolic-links  = 0  # Disable symbolic link support for security reasons
skip-external-locking

# Caching and Performance
query_cache_limit   = 1M
query_cache_size    = 16M
query_cache_type    = 1
table_open_cache    = 400
thread_cache_size   = 8

# InnoDB Settings
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 50M
innodb_flush_log_at_trx_commit = 1

[mysqld_safe]
log-error = /var/log/mysql/mysql_error.log
pid-file  = /run/mysqld/mysqld.pid
